*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background-color: #0B2447;
}
.wrapper{
    width: 65vmin;
    height: 70vmin;
    border-radius: 5px;
    background: #293447;
}
.game-details {
    color: #B8C6DC;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.title {
    color: #A5D7E8;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 27px;
    display: flex;
    justify-content: center;
    background-color: #0B2447;
}
    
p {
    font-size: xx-small;
    text-align: center;
    color: #A5D7E8;
}

.controls {
    display: flex;
    justify-content: space-between;
    background: #293447;
}
.controls i {
    color: #BBC6DC;
    padding: 25px 0;
    width: calc(100%/4);
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    border-right: 1px solid #171b26;
}


.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(30, 1fr)/repeat(30, 1fr);
    background: #212837;
}
.play-board .food {
    background: #FF003D;
}
.play-board .head {
    background: #60CBFF;
}


